language: python
python:
  - "3.9"

# command to install dependencies
install:
  - pip install -r requirements.txt

# use a DB for testing
services:
  - postgresql

before_script:
  - psql -c 'create database test_db;' -U postgres

# command to run tests
script:
  - pytest